---
import Layout from '../layouts/Layout.astro'
import Cat from '../components/Cat.astro'
import Quote from '../components/Quote.astro'
---

<Layout title='Motivational Cats'>
  <main class='flex flex-col gap-8 h-screen items-center justify-center'>
    <Cat />
    <Quote />
  </main>
</Layout>
