---
export interface Props {
  quote: string
  author: string
}

const { quote, author } = Astro.props as Props
---

<div class='w-1/4 space-y-8'>
  <blockquote class='text-orange-300 text-5xl font-crimsonText'>
    &ldquo;{quote}&rdquo;
  </blockquote>
  <footer class='text-orange-200 font-serif'>&mdash; {author}</footer>
</div>
